<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Zoológico Atos</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">..::Zoológico Atos::..<i class="material-icons left">home</i></a>
      <ul class="right hide-on-med-and-down">
        	<li><a href="/listarCuidador" ><i class="material-icons left">people</i>Gerenciar Cuidadores</a></li>
			<li><a href="/listarJaula" ><i class="material-icons left">account_balance</i>Gerenciar Jaulas</a></li>
			<li><a href="/listarAnimal" ><i class="material-icons left">pets</i>Gerenciar Animais</a></li>
      </ul>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Cadastro e acompanhamento do Zoológico</h1>
      <div class="row center">
        <h5 class="header col s12 light">Gerencie cuidadores, jaulas e animais</h5>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">people</i></h2>
            <h5 class="center">Cuidadores</h5>

            <p class="light">Você deve ter no mínimo um cuidador por jaula e por animal.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">account_balance</i></h2>
            <h5 class="center">Jaulas</h5>

            <p class="light">Cada jaula pode ter vários animais e vários cuidadores.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">pets</i></h2>
            <h5 class="center">Animais</h5>

            <p class="light">Os animais devem estar vinculados a uma jaula.</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Acelera Sênior - Atos</h5>
          <p class="grey-text text-lighten-4">Projeto desenvolvido como exercício durante o curso de aceleração de carreira da Atos.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contato</h5>
          <ul>
            <li><a class="white-text" href="#!">aldopassos@gmail.com</a></li>
            <li><a class="white-text" href="#!">aldo.passos@atos.net</a></li>
            <li><a class="white-text" href="#!">(34)99169-6655</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Social</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/aldopassossp">GitHub</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/aldo-de-oliveira-passos-039768165/">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/aldopassossp">Aldo Passos - 2022</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="materialize/js/materialize.js"></script>
  <script src="materialize/js/init.js"></script>

  </body>
</html>