<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Zoológico Atos</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>

<body>

	<h3>Zoológico Atos</h3>

	<a href="/listarCuidador" class="waves.effect waves-light btn"><i
		class="material-icons left">people</i>Gerenciar Cuidadores</a>

	<a href="/listarJaula" class="waves.effect waves-light btn"><i
		class="material-icons left">account_balance</i>Gerenciar Jaulas</a>
		
	<a href="/listarAnimal" class="waves.effect waves-light btn"><i
		class="material-icons left">pets</i>Gerenciar Animais</a>
		
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>