<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Zoológico Atos</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="../materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
	<h3>Editar Animal</h3>
	<a href="/" class="waves.effect waves-light btn"><i
		class="material-icons left">home</i>Menu Principal</a>
	<a href="/cadastrarAnimal" class="waves.effect waves-light btn"><i
		class="material-icons left">person_add</i>Cadastrar Animal</a>
	<a href="/listarAnimal" class="waves.effect waves-light btn"><i
		class="material-icons left">format_list_bulleted</i>Listar Animal</a>

	<div th:each="animal : ${animais}">

		<form class="container" th:action="@{/atualizarAnimal}"
			method="post">
				
				<input type="hidden" th:value="${animal.idAnimal}"
				name="idAnimal" />
						Nome do Animal:<input type="text" th:value="${animal.nomeAnimal}" name="nomeAnimal"
			required="required" /> Espécie:<input type="text" th:value="${animal.especie}"
			name="especie" required="required" /> Raça:<input
			type="text" th:value="${animal.raca}" name="raca" required="required" /> Data de Nascimento:<input
			type="text" th:value="${animal.dataNascimento}" name="dataNascimento" required="required" />
 			Jaula
			<select>
				<option th:each="jaula : ${jaulas}" th:text="${jaula.nomeZoologico}" th:value="${cuidador.idJaula}" ></option>
			</select> 

			<button type="submit" class="waves.effect waves-light btn">Salvar</button>

		</form>

	</div>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="../materialize/js/materialize.min.js"></script>

</body>
</html>