<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista de Jaulas</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
	<nav class="light-blue lighten-1" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo">..::Zoológico
			Atos::..<i class="material-icons left">home</i>
		</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="/"><i class="material-icons left">home</i>Menu
					Inicial</a></li>
			<li><a href="/cadastrarJaula"><i
					class="material-icons left">person_add</i>Cadastrar Jaula</a></li>
			<li><a href="/listarJaula"><i class="material-icons left">format_list_bulleted</i>Listar
					Jaula</a></li>
		</ul>
	</div>
	</nav>

	<h2 class="center light-blue-text">
		<i class="material-icons">pets</i>Lista de Jaulas
	</h2>

	<table class="container">
		<thead>
			<tr>
				<th>Nome Zoologico</th>
				<th>Bloco</th>
				<th>Numero da Jaula</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="jaula : ${jaulas}">
				<td><span th:text="${jaula.nomeZoologico}"></span></td>
				<td><span th:text="${jaula.bloco}"></span></td>
				<td><span th:text="${jaula.numeroJaula}"></span></td>

				<td><a
					th:href="${(#mvc.url('JC#deletarJaula').arg(0,jaula.idJaula)).build}">Deletar</a></td>
				<td><a
					th:href="${(#mvc.url('JC#editarJaula').arg(0,jaula.idJaula)).build}">Editar</a></td>
			</tr>
		</tbody>
	</table>
	<br/><br/>
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Acelera Sênior - Atos</h5>
          <p class="grey-text text-lighten-4">Projeto desenvolvido como exercício durante o curso de aceleração de carreira da Atos.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contato</h5>
          <ul>
            <li><a class="white-text" href="#!">aldopassos@gmail.com</a></li>
            <li><a class="white-text" href="#!">aldo.passos@atos.net</a></li>
            <li><a class="white-text" href="#!">(34)99169-6655</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Social</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/aldopassossp">GitHub</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/aldo-de-oliveira-passos-039768165/">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/aldopassossp">Aldo Passos - 2022</a>
      </div>
    </div>
  </footer>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>