<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lista de Cuidadores</title>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
	<h3>Lista de Cuidadores</h3>
	<a href="/" class="waves.effect waves-light btn"><i
		class="material-icons left">home</i>Menu Principal</a>
	<a href="/cadastrarCuidador" class="waves.effect waves-light btn"><i
		class="material-icons left">person_add</i>Cadastrar Cuidador</a>
	<a href="/listarCuidador" class="waves.effect waves-light btn"><i
		class="material-icons left">format_list_bulleted</i>Listar Cuidadores</a>

	<table class="container">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Matrícula</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="cuidador : ${cuidadores}">
				<td><span th:text="${cuidador.nome}"></span></td>
				<td><span th:text="${cuidador.matricula}"></span></td>

				<td><a
					th:href="${(#mvc.url('CC#deletarCuidador').arg(0,cuidador.idCuidador)).build}">Deletar</a></td>
				<td><a
					th:href="${(#mvc.url('CC#editarCuidador').arg(0,cuidador.idCuidador)).build}">Editar</a></td>
			</tr>
		</tbody>
	</table>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>